﻿@{
    ViewBag.Title = "Home Page";
}

@section styles{
    @Styles.Render("~/Content/css/homePage")
}

<section class="features-icons bg-light text-center">
    <div class="container">
        <h1 class="mb-5" data-group="english">Spiritual Support <br /><span id="viber-chat-bot-title" style="font-size: medium; color: white; background-color: #59267c; border-radius: 25px; padding-left: 5px; padding-right: 5px;">Viber Chatbot</span></h1>
        <h1 class="mb-5" data-group="russian">Духовная поддержка <br /><span id="viber-chat-bot-title" style="font-size: medium; color: white; background-color: #59267c; border-radius: 25px; padding-left: 5px; padding-right: 5px;">Вайбер чат-бот</span></h1>
        <div class="row">
            <div class="col-lg-12 showcase-text">
                <p class="lead mb-3" data-group="english">This chatbot allows you to send anonymous text messages to the pastor of your church get help in the fight with sin and to find answers to spiritual questions.</p>
                <p class="lead mb-3" data-group="russian">Этот чат-бот позволит вам отправлять анонимные вопросы пастору вашей церкви для получения помощи в борьбе со грехом и для поиска ответов на духовные вопросы.</p>
            </div>
            <div class="col-lg-12 showcase-text">
                <p class="lead mb-3" data-group="english">You will be anonymous.</p>
                <p class="lead mb-3" data-group="russian">Анонимность гарантирована.</p>
            </div>
            <div class="col-lg-12 showcase-text">
                <p class="lead mb-3" data-group="english">Not a commercial project. Can be set up for any church.<a href="#contact_us"> Just contact us.</a></p>
                <p class="lead mb-3" data-group="russian">
                    Не коммерческий проект. Может использоваться любой церковью.<a href="#contact_us"> Просто свяжитесь с нами.</a>
                </p>
            </div>
            <div class="col-lg-12 showcase-text">
                <p class="lead mb-3" style="font-style: italic; font-weight: bold" data-group="english">
                    "Lord Jesus Christ is the one we proclaim, admonishing and teaching everyone with all wisdom, so that we may present everyone fully mature in Christ" (Colossians 1:28. Bible)
                </p>
                <p class="lead mb-3" style="font-style: italic; font-weight: bold" data-group="russian">
                    "Господа Иисуса Христа мы проповедуем, вразумляя всякого человека и научая всякой премудрости, чтобы представить всякого человека совершенным во Христе Иисусе;" (Кол.1:28)
                </p>
            </div>
        </div>
    </div>
</section>
<a name="how_it_works"></a>
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://lh3.googleusercontent.com/3mGal7KoJQOudTG1gMCbGQqUZuFRz1sxi2Ix4TRbEz4XPSRGjYF_Q9B3cCMgNTEqz8j6N3FI65E1bYXqaYvh2RwC3NjTOoeRM2ApXjnmO7w97pcXbr-WPuiEMZ2r2H-8_1fdo-OiwwE=w2400');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2 data-group="english">How does it work?</h2>
                <h2 data-group="russian">Как это работает?</h2>
                <p class="lead mb-3" data-group="english">
                    It is easy. Every member of the church will get a
                    unique nickname. When you send the message, the chatbot takes your messages,
                    puts your nickname in the header, and sends it to the pastor of your church.
                    To run this app in your church, the pastor should <a href="#contact_us">contact us</a>.
                    Then we will send initial text messages to the pastor.
                </p>
                <p class="lead mb-3" data-group="russian">
                    Это очень просто. Каждый член церкви получит уникальное прозвище. Когда вы отправляете сообщение, чат-бот принимает ваши сообщения,
                    помещает ваше прозвище в заголовок и отправляет пастору вашей церкви.
                    Чтобы начать пользоваться этим приложением в вашей церкви, пастор должен <a href="#contact_us">связаться с нами</a>. Затем мы отправим пастору сообщения.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" data-group="english" style="background-image: url('https://lh3.googleusercontent.com/ORDPL847h5yD6QtRA6LfzJ5eWSRbVtBvDYQcIOJz15AsdZujmMwmVtB9ttXjxBMuPerd_tsTu59__K0283NRD0-2_g9Pl2pxiVo_lydWEl_qfjgqdPQSXV3qYSbammslQ1BqvO63B3Q=w2400');"></div>

            <div class="col-lg-6 text-white showcase-img" data-group="russian" style="background-image: url('https://lh3.googleusercontent.com/lBPS7mkSKUZQ83rZeE3Uh5vd0KS0PrbdSszJ--vOh9gspijvwJOEJoFFggH8A1aMUkCDlkLXPVTxvOyjDAO2NGltDnvM58TR58VBkseqL4N_1FEXKaE3ptHjCh2n-wLFtIAepGShCgM=w2400');"></div>

            <div class="col-lg-6 my-auto showcase-text">
                <h2 data-group="english">Initial text messages</h2>
                <h2 data-group="russian">Как выглядят эти сообщения?</h2>
                <p class="lead mb-3" data-group="english">
                    Initial text messages have 2 links.
                    The first link is for the pastor, the second for the church members.
                    The pastor is responsible for how to send the second link to the members.
                    Usually, you can use Viber group for your church.
                </p>
                <p class="lead mb-3" data-group="russian">
                    В сообщениях содержится две ссылки. Первая ссылка для пастора, вторая для всех членов церкви.
                    На пасторе лежит ответственность как вторую ссылку сделать доступной для членов церкви.
                    Обычно вы можете использовать Вайбер группу вашей церкви для отправки второй ссылки.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" data-group="english" style="background-image: url('https://lh3.googleusercontent.com/9E8ZZsnIWjaaXEprwYgSww9R9EJH-YFOsUGD2htp-aHn6PrwAMy7X4_wnFGtOqlB1JiA3_Hm-ryASX6XexZgf7YYqFB9UJtl8e8vxBJW6fpP8TQn0BdrA4yG9Ve2WNZPNovAxP2B0Po=w2400');"></div>

            <div class="col-lg-6 order-lg-2 text-white showcase-img" data-group="russian" style="background-image: url('https://lh3.googleusercontent.com/343NlBoI4zwYmdcp3Se1k2yp9vbthoM2WUNeogBAyad7kye0fepLTL-CWH6BjzwDwbbRuUag0jalVLSfsrSREbq1jipENXJLXeAfzHJzAk62P9UJLp06NucA_8wm7avMmLmx6z9tZbY=w2400');"></div>

            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2 data-group="english">How can I send an anonymous message to a pastor?</h2>
                <h2 data-group="russian">Как я могу отправить анонимное сообщение пастору?</h2>
                <p class="lead mb-3" data-group="english">
                    First of all, you have to click on the link and submit the code.
                    We have to be sure that you are a member of the church. To send an anonymous message
                    to the pastor you need to use a question mark at the begin your message. No worries
                    if you send something wrong to the chatbot. It will help you with corrections.
                    Is it really anonymous on the pastor's side? Yes.
                </p>
                <p class="lead mb-3" data-group="russian">
                    Прежде всего, вы должны нажать на ссылку и отправить код. Мы должны быть уверены, что вы член церкви.
                    Чтобы отправить анонимное сообщение пастору, вам нужно использовать вопросительный знак в начале вашего сообщения.
                    Не беспокойтесь, если вы отправите чат-боту что-то не так. Чат-бот поможет вам с исправлениями.
                    Действительно ли пастор получит анонимное сообщение? Да.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" data-group="english" style="background-image: url('https://lh3.googleusercontent.com/wCWWoD1fqWqXHKF0KgEejbTCKzvRbGIB2JplzUV4RThPEl8Arr-fD3qK0a0DZ-1urWTjJDbJTbFL2qCLF3jwlOUXajZMbhl8H_dBe5kV8NOgpykF0YC7UmgVqNU0eISjSgabT8n8y64=w2400'); "></div>
            <div class="col-lg-6 text-white showcase-img" data-group="russian" style="background-image: url('https://lh3.googleusercontent.com/NwJDvxWWmKMDgodaf6RRUQPseYrg2YkV597SjNGW1QmosyCrx5wbs26qcOf8QRT_oJH3TnF96FXjYaZ_x9-fHDNtkbQngR0FBY6XyYs90gNAaHHdZ9-U28U3sEuWcgxGaMmw1nZs5uQ=w2400'); "></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2 data-group="english">How can a pastor respond to anonymous messages?</h2>
                <h2 data-group="russian">Как пастор может отвечать на анонимные сообщения?</h2>
                <p class="lead mb-3" data-group="english">
                    First of all, you have to click on the link and submit the code.
                    We have to be sure that you are a pastor of the church.
                    To respond to an anonymous message from members you need to use the nickname of the member (example: SOKOL)
                    at the begin your message. As we mentioned before the chatbot is using a nickname to give the pastor
                    the ability to respond to you and provides you anonymity.
                    Be sure you will get a response from the pastor of your church who loves and cares about you.
                    It is no answer from the Internet.
                </p>
                <p class="lead mb-3" data-group="russian">
                    Прежде всего, вы должны нажать на ссылку и отправить код. Мы должны быть уверены, что вы пастор церкви.
                    Чтобы ответить на анонимное сообщение от членов церкви, вам необходимо использовать псевдоним участника (пример: ИЖОВ)
                    в начале вашего сообщения. Как мы упоминали ранее, чат-бот использует псевдоним, чтобы дать пастору возможность отвечать
                    вам и обеспечить вам анонимность. Будте уверены, что вы получите ответ от пастора вашей церкви, который любит вас и заботится о вас.
                    Это не ответа из интернета.
                </p>
            </div>
        </div>
    </div>
</section>
<a name="about_us"></a>
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5" data-group="english">About Us</h2>
        <h2 class="mb-5" data-group="russian">О нас</h2>
        <div class="row mb-5">
            <div class="col-lg-12 showcase-text">
                <p class="lead mb-0" data-group="english">
                    We are a believing family that tries to serve God with the talents that God has rewarded us with. We think that the church should use
                    IT technologies to more effectively achieve God's purposes on earth.
                </p>
                <p class="lead mb-0" data-group="russian">
                    Мы верующая семья, которая старается служить Богу талантами, которыми Бог наградил нас. Мы думаем, что церковь должна использовать
                    ИТ-технологии для более эффективного достижения Божьих целей на земле.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="https://lh3.googleusercontent.com/fAW1Elq0XLBfVzwQAnO7RxCwqjKcNyCZ5q-mCoQvrHvsX1_tYe7JnraGf1PjLzryF_oNa1zr5pA9ie6adh6p5Bd3h99obYZJh_KAk4efZi2MpGw4qTubLoMBCyRlmgVR5fhGfYFK1Rk=w2400" alt="">
                    <h5 data-group="english">IHAR PIATROU</h5>
                    <h5 data-group="russian">ИГОРЬ ПЕТРОВ</h5>
                    <h6 data-group="russian">Разработчик программного обеспечения</h6>
                    <h6 data-group="english">Software developer</h6>
                    <p class="font-weight-light mb-0" data-group="english">God helped me create this application. I hope this application will help many people to become closer to God and to fight their sin</p>
                    <p class="font-weight-light mb-0" data-group="russian">Бог помог мне создать это приложение. Надеюсь, это приложение поможет многим людям не опускать руки в борьбе со грехом и позволит стать ближе к Богу</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="https://lh3.googleusercontent.com/jT0G7sEUiNrq8gOutcm_2cnkq4vXb_JKKOshGU72nGXciOXkDDmZsmB2oQuXWB0WbAKXOAnJMZRslUgKSnY4eHokuF0H7YdkZwmIRqdjBG0PrwHkStgcoU8OEinGzJbD7e95v5P7tOc=w2400" alt="">
                    <h5 data-group="english">NATALIYA PIATROVA</h5>
                    <h6 data-group="english">My wife</h6>
                    <h5 data-group="russian">НАТАЛИЯ ПЕТРОВА</h5>
                    <h6 data-group="russian">Моя жена</h6>
                    <p class="font-weight-light mb-0" data-group="english">She provided me with emotional support throughout the development process and took care of our children</p>
                    <p class="font-weight-light mb-0" data-group="russian">Она оказывала мне эмоцианальную поддержку на протяжении всего процесса разработки и заботилась о наших детях</p>
                </div>
            </div>
        </div>
        <h3 class="mb-5" data-group="english">Advisers</h3>
        <h3 class="mb-5" data-group="russian">Советники</h3>
        <div class="row">
            <div class="col-lg-6">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="https://lh3.googleusercontent.com/DMmooH3tWG5AUSGNOZ-KDVbyN5G47fv_Cx3yy0OLf6huOUXXy9JdTXa2bIrbZM8o07njB201T6iW087JMfWzVJ2MPjUOhw_pW1K11qZL5qNRRn3d9RiMSN1j2jvLslpxozzqTZ_QhDk=w2400" alt="">
                    <h5 data-group="english">VENIAMIN MISHIN</h5>
                    <h5 data-group="russian">ВЕНИАМИН МИШИН</h5>
                    <h6 data-group="english">Pastor of LifeWay baptist church in Philadelphia</h6>
                    <h6 data-group="russian">Пастор баптистской церкви Путь Жизни в Филадельфии</h6>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="https://lh3.googleusercontent.com/1AlEWOm9RdCO-zXgdJpLViOzOS7fQ7TudMKpODGauQ3t4ZyvNenKxzF4dLAD4urPUk6lcJhzImhrewfXxr1LjBbC0JjVwdACALpm_v8VUIB6jESIhr0Dw5ANd9OahFlOSxFZhraFkzk=s288-p-k" alt="">
                    <h5 data-group="english">LEONID MIKHOVICH</h5>
                    <h5 data-group="russian">ЛЕОНИД МИХОВИЧ</h5>
                    <h6 data-group="english">President of Baptist Union in Belarus. Rector at Minsk Theological Seminary</h6>
                    <h6 data-group="russian">Председатель союза баптистов Беларуси. Ректор Минской богословской семинарии</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <p class="lead mb-3" style="font-style: italic; font-weight: bold" data-group="english">
                    “Counseling is any conversation intended to influence, guide, or help another person solve a problem in life” (David Powlison)
                </p>
                <p class="lead mb-3" style="font-style: italic; font-weight: bold" data-group="russian">
                    “Консультирование - это любой разговор, направленный на то, чтобы повлиять, направить или помочь другому человеку решить проблему в жизни.” (Дэвид Паулисон)
                </p>
            </div>
            <a name="contact_us"></a>
            <div class="col-lg-6 order-lg-2 my-auto showcase-text">
                <h2 data-group="english">Contact us</h2>
                <h2 data-group="russian">Контакты</h2>
                <p class="lead mb-0" data-group="english">
                    <b>Will be glad to answer for any questions</b>
                </p>
                <p class="lead mb-0" data-group="russian">
                    <b>Будем рады ответить на любые вопросы</b>
                </p>
                <p class="lead mb-0">King of Prussia, PA, 19406</p>

                <p class="lead mb-0" data-group="english"><b>Telephone: </b>(215) 964-53-70 (only text messages)</p>
                <p class="lead mb-0" data-group="russian"><b>Tелефон: </b>(215) 964-53-70 (только СМС)</p>

                <p class="lead mb-0" data-group="english">
                    <b>Email: </b><a href="mailto:petrovswd@gmail.com">petrovswd@gmail.com</a>
                </p>

                <p class="lead mb-0" data-group="russian">
                    <b>Электронная почта: </b><a href="mailto:petrovswd@gmail.com">petrovswd@gmail.com</a>
                </p>
                <p class="lead mb-0" data-group="english">
                    <b>Owner</b>
                </p>
                <p class="lead mb-0" data-group="russian">
                    <b>Владелец</b>
                </p>
                <p class="lead mb-0" data-group="english">Ihar Piatrou</p>
                <p class="lead mb-0" data-group="russian">Игорь Петров</p>
            </div>
        </div>
    </div>
</section>
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5" data-group="english">Which churches use this app:</h2>
        <h2 class="mb-5" data-group="russian">Какие церкви используют это приложение:</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <a href="http://www.lifewaybc.org/">
                        <img class="img-fluid rounded-circle mb-3" src="https://lh3.googleusercontent.com/13fgSXmORocHiEvqGRRMP9zRs_YcloiklFfWKSibksXch6cGOE2SYqmP0QvBzHO_XCjf0-wA6EEc4preRWrfPgYWuj_ijA1Bq9x8qIKKQ7Obq4g4ffhgfU6P4lpIj2g-2ng_DNhW_P4=s176-p-k" alt="">
                    </a>
                    <h5 data-group="english">Life Way Baptist Church</h5>
                    <h5 data-group="russian">Баптистская церковь Путь Жизни</h5>

                    <h6 data-group="english">Philadelphia, US</h6>
                    <h6 data-group="russian">Филадельфия, США</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<a name="donation"></a>
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5" data-group="english">Donation for support the project</h2>
        <h2 class="mb-5" data-group="russian">Пожертвование на поддержку проекта</h2>
        <div class="mb-5">
            <div class="col-lg-12 showcase-text">       
                    <a href="https://www.paypal.com/donate/?cmd=_donations&business=ECTZU4JCW28W8&currency_code=USD" target="_blank" class="btn btn-warning">PayPal</a>          
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="testimonial-item  mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid mb-3 donation-img" src="https://lh3.googleusercontent.com/lHoPm8dHZSkiadBsGs7Py04rM5jh-j7aS-DYbG3yUt3yjoFJAft2dDUCOo62ExN7ltiKUKGVQDJi834Ty6uJN5plIk9OOem_qhmq5bdJI3Qn4o3k4M1QuVRpYjs5TDYSOVoPW1uLKHI=w2400" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid mb-3 donation-img" src="https://lh3.googleusercontent.com/oi3MdKd4a9QZMKp19Yu7pmjcajWBuNJW0_Gcrht3mI0e8EE_9kP_2aGp6MWRHxg4dX0m35boF1kj2ATlO9AJnCNDpWRAlx6aFdg_TwuFhgZ0UTLjVjQeyN2Pz2tuP396h8YNyX2lK7A=w2400" alt="">                   
                </div>
            </div>
        </div>      
    </div>
</section>