﻿<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149114949-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-149114949-1');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/Images/Favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/Images/Favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/Images/Favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Images/Favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/Images/Favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Images/Favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/Images/Favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Images/Favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Images/Favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/Images/Favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Images/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/Images/Favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Images/Favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Content/Images/Favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/Images/Favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/layoutJS")
    @RenderSection("styles", required: false)

    <style>
        [data-group="russian"] {
            display: none;
        }

        .donation-img {
            max-width: 20rem !important;
        }
    </style>

    <script>
        $(document).ready(function () {

            var language = localStorage.getItem("Language_Eltan_Inc");

            if (language === "Russian") {

                $("[data-group='russian']").show();
                $("[data-group='english']").hide();

            } else if (language === "English") {

                $("[data-group='russian']").hide();
                $("[data-group='english']").show();

            }

            $("[data-id='go-to-rus']").click(function () {
                $("[data-group='russian']").show();
                $("[data-group='english']").hide();

                localStorage.setItem("Language_Eltan_Inc", "Russian");
            });

            $("[data-id='go-to-en']").click(function () {
                $("[data-group='russian']").hide();
                $("[data-group='english']").show();

                localStorage.setItem("Language_Eltan_Inc", "English");

            });
        });

    </script>
</head>
<body>
    <nav class="navbar navbar-expand-xl navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="../../Home/Index">
            <h3 data-group="english">Spiritual support</h3>
            <h3 data-group="russian">Духовная поддержка</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" data-group="english">
                    <a class="nav-link" href="#how_it_works">How does it work?</a>
                </li>
                <li class="nav-item" data-group="russian">
                    <a class="nav-link" href="#how_it_works">Как это работает?</a>
                </li>

                <li class="nav-item" data-group="english">
                    <a class="nav-link" href="#about_us">About us</a>
                </li>
                <li class="nav-item" data-group="russian">
                    <a class="nav-link" href="#about_us">О нас</a>
                </li>

                <li class="nav-item" data-group="english">
                    <a class="nav-link" href="#contact_us">Contact us</a>
                </li>
                <li class="nav-item" data-group="russian">
                    <a class="nav-link" href="#contact_us">Контакты</a>
                </li>

                <li class="nav-item" data-group="english">
                    <a class="nav-link" href="#donation">Donation</a>
                </li>
                <li class="nav-item" data-group="russian">
                    <a class="nav-link" href="#donation">Поддержать проект</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item" data-group="english">
                    <a href="#" class="nav-link language" data-id="go-to-rus" rel="en-US"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/ru.svg" width="40px" alt="Russia" /></a>
                </li>
                <li class="nav-item" data-group="russian">
                    <a href="#" class="nav-link language" data-id="go-to-en" rel="en-US"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/us.svg" width="40px" alt="English" /></a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="body-row">       
        <div class="col py-2" style="padding-left: 0px; padding-right: 0px;">
            <div class="container body-content">
                @RenderBody()
                <footer class="footer py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                                <p class="text-muted small mb-4 mb-lg-0" data-group="english">&copy; Spiritual support Website @DateTime.Now.Year. All Rights Reserved.</p>
                                <p class="text-muted small mb-4 mb-lg-0" data-group="russian">&copy; Веб-сайт духовной поддержки @DateTime.Now.Year. Все права защищены.</p>
                            </div>
                            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            @RenderSection("scripts", required: false)
        </div>
    </div>
</body>
</html>
